*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    
    flex-direction: column;
    align-items: center;
}
.container{
    margin-top: 2em;
    width: 500px;
    height: 700px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: relative
}
.title{
    width: 100%;
    height: 150px;
    padding: 1em 0;
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0 0;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    color: #fff;
}
.title i{
    font-size: 1.8em;
}
.content{
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content, .initial{
    width: 100%;
    height: 100%;
}
/* Initial Screen */
.initial{
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.initial h2, p{
    width: 100%;
    color: #303030;
    text-align: center;
}
.initial p{
    margin-bottom: 2em;
}
.theme-button{
    width: 100%;
    height:150px;
    display: flex;
    align-content: center;
    justify-content: center;
    column-gap: 1em;
}
.theme-button .theme-button-item{
    width: 130px;
    height: 60px;
    border: none;
    background-color: #0093E9;
    color: #fff;
    font-size: 1em;
    border-radius: 5px;
}
.theme-button .theme-button-item:hover{
    cursor: pointer;
    transition: ease-in-out .5s;
    background-color: #096fab;
}
.theme-button  .theme-button-item:focus{
    background-color: #096fab;
}

/* Question Panel */
.question-panel{
    width: 100%;
    height: 100%;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: column;
} 
.question-box{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    color: #303030;
    border-bottom: 1px solid #f1f1f1;
    margin-bottom: 1.5em;
}
.question-box i{
    font-size: 1.5em;
}

/* Alternativas */
.answer-box{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 10px 10px;
}
.answer-list{
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    row-gap: 2em;
    padding: 2em 1em 2em 1em;
}
.answer-item{
    display: flex;
    height: 70px;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.08) 0px 7px 29px 0px;
    background-color: #fff;
}
.answer-item:hover{
    cursor: pointer;
    transition: ease-in-out .3s;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.focus{
    background-color: #bababa;
}

.answer-item span{
    width: 65px;
    height: 50px;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2em;
    font-weight: 500;
    color: #fff;
}
.answer-item p{
    margin-right: 2em;
    padding-left: 1em;
    text-align: left;
    font-size: 1.1em;
    color: #303030
}


/* Rodapé */
footer{
    width: 100%;
    
    
    text-align: center;
    font-size: .8em;
    font-weight: 400;
    color: #474747;
    padding-top: 1.5em;
    margin: 2em 0;
}
footer a{
    color: #0093E9;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;

}